<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Pie de pagina</title>
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link rel="stylesheet" href="\css\footer-styles.css" />
    <!--Iconos-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <footer class="pie-pagina">
      <div class="grupo-1">
        <div class="box-1">
          <div class="direccion">
            <i class="fa-solid fa-location-dot"></i>
            <b> Direccion</b>
          </div>
          <div class="e-mail">
            <i class="fa-solid fa-envelope-open"></i>
            <b> E-mail</b>
          </div>
          <div class="whatsapp">
            <i class="fa-brands fa-whatsapp"></i>
            <b> WhatsApp o Teléfono</b>
          </div>
          <div class="nosotros">
            <i class="fa-solid fa-users"></i>
            <b> Nosotros</b>
          </div>
        </div>
        <div class="box-2">
          <ul>
            <li>
              <a href="#"
                ><i class="fa-solid fa-play"></i> <b>Condiciones de uso</b></a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa-solid fa-play"></i> <b>Servicio al cliente</b></a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa-solid fa-play"></i>
                <b>Botón de arrepentimiento</b></a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa-solid fa-play"></i>
                <b>Políticas de garantía</b></a
              >
            </li>
          </ul>
        </div>

        <div class="box-3">
          <h2>SIGUENOS</h2>
          <div class="red-social">
            <a href="#" class="fa-brands fa-facebook-f"></a>
            <a href="#" class="fa-brands fa-instagram"></a>
            <a href="#" class="fa-brands fa-twitter"></a>
            <a href="#" class="fa-brands fa-youtube"></a>
          </div>
        </div>
      </div>
      <div class="grupo-2">
        <small
          >&copy; 2023 <b>TECNO-JUY</b> - Todos los Derechos Reservados.</small
        >
      </div>
    </footer>
  </body>
</html>
