<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tecno-JUY</title>
    <link rel="stylesheet" href="/css/styles-index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="\css\footer-styles.css" />
    <!--Iconos-->
    <script
      src="https://kit.fontawesome.com/eb496ab1a0.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fontawesome.com/icons?d=gallery&m=free"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <main>
      <section class="container">
        <div class="slider-wrapper">
          <div class="slider">
            <img
              id="slider-1"
              src="\images\images_slider\first-ofert.jpg"
              alt=""
            />
            <img
              id="slider-2"
              src="\images\images_slider\second-ofert.jpg"
              alt=""
            />
            <img
              id="slider-3"
              src="\images\images_slider\three_ofert.jpg"
              alt=""
            />
            <img
              id="slider-4"
              src="\images\images_slider\four-ofert.jpg"
              alt=""
            />
            <img
              id="slider-5"
              src="\images\images_slider\MOTHER-PORTADA-scaled.jpg"
              alt=""
            />
          </div>
          <div class="slider-nav">
            <a href="#slider-1"></a>
            <a href="#slider-2"></a>
            <a href="#slider-3"></a>
            <a href="#slider-4"></a>
            <a href="#slider-5"></a>
          </div>
        </div>
      </section>
      <div class="latest-title">Últimas Novedades</div>
      <hr class="title-line" />
      <div class="carousel-container">
        <div class="product-card">
          <img
            class="product-image"
            src="\images\images_products\monitor.jpeg"
            alt="Producto 1"
          />
          <div class="product-name">
            Monitor gamer ViewSonic XG3220 LCD TFT 32" negro 100V/240V
          </div>
          <div class="product-price">$180.00</div>
        </div>
        <div class="product-card">
          <img
            class="product-image"
            src="\images\images_products\silla-gamer.jpeg"
            alt="Producto 2"
          />
          <div class="product-name">
            Silla Sillon Gamer Pc Escritorio The Game House Ergonomica
          </div>
          <div class="product-price">$120.00</div>
        </div>
        <div class="product-card">
          <img
            class="product-image"
            src="\images\images_products\notebook-gamer.jpeg"
            alt="Producto 3"
          />
          <div class="product-name">
            Msi Cyborg 15.6 Intel I7 Geforce Rtx4060 Ram 8gb Ssd 512gb
          </div>
          <div class="product-price">$520.00</div>
        </div>
        <div class="product-card">
          <img
            class="product-image"
            src="\images\images_products\mouse-gamer.jpeg"
            alt="Producto 4"
          />
          <div class="product-name">
            Mouse Gamer Usb Newvision 3200 Dpi Rgb Juegos Pc
          </div>
          <div class="product-price">$20.00</div>
        </div>
        <div class="product-card">
          <img
            class="product-image"
            src="\images\images_products\placa-video.png"
            alt="Producto 5"
          />
          <div class="product-name">
            PLACA DE VIDEO RTX 2080 Super 8Gb Gigabyte
          </div>
          <div class="product-price">$320.00</div>
        </div>
      </div>
      <div class="logos">
        <div class="logos-slide">
          <img src="\images\images_slider\1.png" alt="" />
          <img src="\images\images_slider\2.png" alt="" />
          <img src="\images\images_slider\3.png" alt="" />
          <img src="\images\images_slider\4.png" alt="" />
          <img src="\images\images_slider\5.png" alt="" />
          <img src="\images\images_slider\6.png" alt="" />
          <img src="\images\images_slider\7.png" alt="" />
          <img src="\images\images_slider\8.png" alt="" />
        </div>
        <div class="logos-slide">
          <img src="\images\images_slider\1.png" alt="" />
          <img src="\images\images_slider\2.png" alt="" />
          <img src="\images\images_slider\3.png" alt="" />
          <img src="\images\images_slider\4.png" alt="" />
          <img src="\images\images_slider\5.png" alt="" />
          <img src="\images\images_slider\6.png" alt="" />
          <img src="\images\images_slider\7.png" alt="" />
          <img src="\images\images_slider\8.png" alt="" />
        </div>
      </div>
      <div class="banner-container">
        <div class="banner-text">
          Únete Gratis por Primera Vez y Obtén un 10% de Descuento
        </div>
        <a class="join-button" href="pagina_de_registro.html">¡Únete Ahora!</a>
      </div>
    </main>
    <footer class="pie-pagina">
      <div class="grupo-1">
        <div class="box-1">
          <div class="direccion">
            <i class="fa-solid fa-location-dot"></i>
            <b> Direccion</b>
          </div>
          <div class="e-mail">
            <i class="fa-solid fa-envelope-open"></i>
            <b> E-mail</b>
          </div>
          <div class="whatsapp">
            <i class="fa-brands fa-whatsapp"></i>
            <b> WhatsApp o Teléfono</b>
          </div>
          <div class="nosotros">
            <i class="fa-solid fa-users"></i>
            <b> Nosotros</b>
          </div>
        </div>
        <div class="box-2">
          <ul>
            <li>
              <a href="#"
                ><i class="fa-solid fa-play"></i> <b>Condiciones de uso</b></a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa-solid fa-play"></i> <b>Servicio al cliente</b></a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa-solid fa-play"></i>
                <b>Botón de arrepentimiento</b></a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa-solid fa-play"></i>
                <b>Políticas de garantía</b></a
              >
            </li>
          </ul>
        </div>

        <div class="box-1">
          <h2>SIGUENOS</h2>
          <div class="red-social">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>
          </div>
        </div>
      </div>
      <div class="grupo-2">
        <small
          >&copy; 2023 <b>TECNO-JUY</b> - Todos los Derechos Reservados.</small
        >
      </div>
    </footer>
  </body>
</html>
