<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tecno-JUY</title>
    <link rel="stylesheet" href="\css\normalize.css" />
    <link rel="stylesheet" href="\css\styles-index.css" />
    <link rel="stylesheet" href="\css\header-styles.css" />
    <link rel="stylesheet" href="\css\footer-styles.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!--Iconos-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="encabezado">
        <div class="main-navbar">
          <a href="#"> <i class="fas fa-bars"></i></a>
        </div>
        <div class="logo">
          <a href="/">
            <img src="\images\logo.png" alt="Logo de TECNO-JUY"
          /></a>
        </div>
        <div class="container-search-bar">
          <div class="search_wrap search_wrap_1">
            <div class="search_box">
              <input type="text" class="input" placeholder="Buscar..." />
              <div class="btn btn_common">
                <i class="fas fa-search"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="icons">
          <!---Aqui tener en cuenta el tipo de boton que va a hacer la lupa y poner un place holder --->

          <button class="lupa" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <a href="/login-register"><i class="fa-solid fa-user"></i></a>
          <a href="" class="corazon"><i class="fa-solid fa-heart"></i></a>
          <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
      <div class="main-navbar2">
        <nav>
          <ul>
            <li><a href="#">Pc Armadas</a></li>
            <li><a href="#">Smartphones</a></li>
            <li><a href="#">Productos</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="container">
        <div class="slider-wrapper">
          <div class="slider">
            <img
              id="slider-1"
              src="\images\images_slider\first-ofert.jpg"
              alt=""
            />
            <img
              id="slider-2"
              src="\images\images_slider\second-ofert.jpg"
              alt=""
            />
            <img
              id="slider-3"
              src="\images\images_slider\three_ofert.jpg"
              alt=""
            />
            <img
              id="slider-4"
              src="\images\images_slider\four-ofert.jpg"
              alt=""
            />
            <img
              id="slider-5"
              src="\images\images_slider\MOTHER-PORTADA-scaled.jpg"
              alt=""
            />
          </div>
          <div class="slider-nav">
            <a href="#slider-1"></a>
            <a href="#slider-2"></a>
            <a href="#slider-3"></a>
            <a href="#slider-4"></a>
            <a href="#slider-5"></a>
          </div>
        </div>
      </section>
      <div class="latest-title">Últimas Novedades</div>
      <hr class="title-line" />
      <div class="carousel-container">
        <div class="product-card">
          <img
            class="product-image"
            src="\images\images_products\monitor.jpeg"
            alt="Producto 1"
          />
          <div class="product-name">
            Monitor gamer ViewSonic XG3220 LCD TFT 32" negro 100V/240V
          </div>
          <div class="product-price">$180.00</div>
        </div>
        <div class="product-card">
          <img
            class="product-image"
            src="\images\images_products\silla-gamer.jpeg"
            alt="Producto 2"
          />
          <div class="product-name">
            Silla Sillon Gamer Pc Escritorio The Game House Ergonomica
          </div>
          <div class="product-price">$120.00</div>
        </div>
        <div class="product-card">
          <img
            class="product-image"
            src="\images\images_products\notebook-gamer.jpeg"
            alt="Producto 3"
          />
          <div class="product-name">
            Msi Cyborg 15.6 Intel I7 Geforce Rtx4060 Ram 8gb Ssd 512gb
          </div>
          <div class="product-price">$520.00</div>
        </div>
        <div class="product-card">
          <img
            class="product-image"
            src="\images\images_products\mouse-gamer.jpeg"
            alt="Producto 4"
          />
          <div class="product-name">
            Mouse Gamer Usb Newvision 3200 Dpi Rgb Juegos Pc
          </div>
          <div class="product-price">$20.00</div>
        </div>
        <div class="product-card">
          <img
            class="product-image"
            src="\images\images_products\placa-video.png"
            alt="Producto 5"
          />
          <div class="product-name">
            PLACA DE VIDEO RTX 2080 Super 8Gb Gigabyte
          </div>
          <div class="product-price">$320.00</div>
        </div>
      </div>
      <div class="logos">
        <div class="logos-slide">
          <img src="\images\images_slider\1.png" alt="" />
          <img src="\images\images_slider\2.png" alt="" />
          <img src="\images\images_slider\3.png" alt="" />
          <img src="\images\images_slider\4.png" alt="" />
          <img src="\images\images_slider\5.png" alt="" />
          <img src="\images\images_slider\6.png" alt="" />
          <img src="\images\images_slider\7.png" alt="" />
          <img src="\images\images_slider\8.png" alt="" />
        </div>
        <div class="logos-slide">
          <img src="\images\images_slider\1.png" alt="" />
          <img src="\images\images_slider\2.png" alt="" />
          <img src="\images\images_slider\3.png" alt="" />
          <img src="\images\images_slider\4.png" alt="" />
          <img src="\images\images_slider\5.png" alt="" />
          <img src="\images\images_slider\6.png" alt="" />
          <img src="\images\images_slider\7.png" alt="" />
          <img src="\images\images_slider\8.png" alt="" />
        </div>
      </div>
      <div class="banner-container">
        <div class="banner-text">
          Únete Gratis por Primera Vez y Obtén un 10% de Descuento
        </div>
        <a class="join-button" href="pagina_de_registro.html">¡Únete Ahora!</a>
      </div>
    </main>
    <footer class="pie-pagina">
      <div class="grupo-1">
        <div class="box-1">
          <div class="direccion">
            <i class="fa-solid fa-location-dot"></i>
            <b> San Martin 1992</b>
          </div>
          <div class="e-mail">
            <i class="fa-solid fa-envelope-open"></i>
            <b> suppor@tecnojuy.com</b>
          </div>
          <div class="whatsapp">
            <i class="fa-brands fa-whatsapp"></i>
            <b> 3885959593</b>
          </div>
          <div class="nosotros">
            <i class="fa-solid fa-users"></i>
            <b> Nosotros</b>
          </div>
        </div>
        <div class="box-2">
          <ul>
            <li>
              <a href="#"
                ><i class="fa-solid fa-play"></i> <b>Condiciones de uso</b></a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa-solid fa-play"></i> <b>Servicio al cliente</b></a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa-solid fa-play"></i>
                <b>Botón de arrepentimiento</b></a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa-solid fa-play"></i>
                <b>Políticas de garantía</b></a
              >
            </li>
          </ul>
        </div>

        <div class="box-3">
          <h2>SIGUENOS</h2>
          <div class="red-social">
            <a href="#" class="fa-brands fa-facebook-f"></a>
            <a href="#" class="fa-brands fa-instagram"></a>
            <a href="#" class="fa-brands fa-twitter"></a>
            <a href="#" class="fa-brands fa-youtube"></a>
          </div>
        </div>
      </div>
      <div class="grupo-2">
        <small
          >&copy; 2023 <b>TECNO-JUY</b> - Todos los Derechos Reservados.</small
        >
      </div>
    </footer>
  </body>
</html>
