<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tecno-JUY</title>
    <link rel="stylesheet" href="styles-index.css" />
  </head>
  <body>
    <main>
      <section class="container">
        <div class="slider-wrapper">
          <div class="slider">
            <img id="slider-1" src="./images_slider/first-ofert.jpg" alt="" />
            <img id="slider-2" src="./images_slider/second-ofert.jpg" alt="" />
            <img id="slider-3" src="./images_slider/three_ofert.jpg" alt="" />
            <img id="slider-4" src="./images_slider/four-ofert.jpg" alt="" />
            <img
              id="slider-5"
              src="./images_slider/MOTHER-PORTADA-scaled.jpg"
              alt=""
            />
          </div>
          <div class="slider-nav">
            <a href="#slider-1"></a>
            <a href="#slider-2"></a>
            <a href="#slider-3"></a>
            <a href="#slider-4"></a>
            <a href="#slider-5"></a>
          </div>
        </div>
      </section>
      <div class="latest-title">Últimas Novedades</div>
      <hr class="title-line" />
      <div class="carousel-container">
        <div class="product-card">
          <img
            class="product-image"
            src="./images_products/monitor.jpeg"
            alt="Producto 1"
          />
          <div class="product-name">
            Monitor gamer ViewSonic XG3220 LCD TFT 32" negro 100V/240V
          </div>
          <div class="product-price">$180.00</div>
        </div>

        <div class="product-card">
          <img
            class="product-image"
            src="./images_products/silla-gamer.jpeg"
            alt="Producto 2"
          />
          <div class="product-name">
            Silla Sillon Gamer Pc Escritorio The Game House Ergonomica
          </div>
          <div class="product-price">$120.00</div>
        </div>
        <div class="product-card">
          <img
            class="product-image"
            src="./images_products/notebook-gamer.jpeg"
            alt="Producto 2"
          />
          <div class="product-name">
            Msi Cyborg 15.6 Intel I7 Geforce Rtx4060 Ram 8gb Ssd 512gb
          </div>
          <div class="product-price">$520.00</div>
        </div>
        <div class="product-card">
          <img
            class="product-image"
            src="./images_products/mouse-gamer.jpeg"
            alt="Producto 2"
          />
          <div class="product-name">
            Mouse Gamer Usb Newvision 3200 Dpi Rgb Juegos Pc
          </div>
          <div class="product-price">$20.00</div>
        </div>
        <div class="product-card">
          <img
            class="product-image"
            src="./images_products/placa-video.png"
            alt="Producto 2"
          />
          <div class="product-name">
            PLACA DE VIDEO RTX 2080 Super 8Gb Gigabyte
          </div>
          <div class="product-price">$320.00</div>
        </div>
      </div>
      <div class="logos">
        <div class="logos-slide">
          <img src="./images_slider/1.png" alt="" />
          <img src="./images_slider/2.png" alt="" />
          <img src="./images_slider/3.png" alt="" />
          <img src="./images_slider/4.png" alt="" />
          <img src="./images_slider/5.png" alt="" />
          <img src="./images_slider/6.png" alt="" />
          <img src="./images_slider/7.png" alt="" />
          <img src="./images_slider/8.png" alt="" />
        </div>
        <div class="logos-slide">
          <img src="./images_slider/1.png" alt="" />
          <img src="./images_slider/2.png" alt="" />
          <img src="./images_slider/3.png" alt="" />
          <img src="./images_slider/4.png" alt="" />
          <img src="./images_slider/5.png" alt="" />
          <img src="./images_slider/6.png" alt="" />
          <img src="./images_slider/7.png" alt="" />
          <img src="./images_slider/8.png" alt="" />
        </div>
      </div>
      <div class="banner-container">
        <div class="banner-text">
          Únete Gratis por Primera Vez y Obtén un 10% de Descuento
        </div>
        <a class="join-button" href="pagina_de_registro.html">¡Únete Ahora!</a>
      </div>
    </main>
  </body>
</html>
