<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/product-detail-styles.css">
</head>
<body>
    <main>
        <div class="content1">
            <div class="text-conten1">
                <h6>Nuevo | +1000 vendidos</h6>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <p>(408)</p>
                <h1>Monitor Philips Led 24 Pulgadas 241v8|/77 Hdmi Vga</h1>
                <button class="boton1">MAS VENDIDO</button> 
                <h5>8° en Monitores PHILIPS</h5>            
            </div>
           
        </div>
        <div class="content2">
            <section class="container">
                <div class="slider-wrapper">
                  <div class="slider">
                    <img id="slider-1" src="https://diamondsystemar.vtexassets.com/arquivos/ids/158716-800-auto?v=638164065084100000&width=800&height=auto&aspect=true" alt="" />
                    <img id="slider-2" src="https://diamondsystemar.vtexassets.com/arquivos/ids/158717-800-auto?v=638164065302500000&width=800&height=auto&aspect=true" alt="" />
                    <img id="slider-3" src="https://diamondsystemar.vtexassets.com/arquivos/ids/158718-800-auto?v=638164066006500000&width=800&height=auto&aspect=true" alt="" />
                    <img id="slider-4" src="https://diamondsystemar.vtexassets.com/arquivos/ids/158719-800-auto?v=638164066155130000&width=800&height=auto&aspect=true" alt="" />
                    <img id="slider-5" src="https://diamondsystemar.vtexassets.com/arquivos/ids/158720-800-auto?v=638164066440570000&width=800&height=auto&aspect=true" alt="" />
                  </div>
                </div>
                <div class="slider-nav">
                  <a href="#slider-1"></a>
                  <a href="#slider-2"></a>
                  <a href="#slider-3"></a>
                  <a href="#slider-4"></a>
                  <a href="#slider-5"></a>
                </div>
              </section>
        </div>
        <div class="content3">
         <p><h2>$59.999</h2><h3>en 12x $7.626</h3></p>
           <h5>Ver los medios de pago</h5>
           <button class="boton2">OFERTA DEL DÍA</button>
           <button class="boton3" type="submit">Comprar Ahora</button>
           <button class="boton4" type="submit">Agregar al carrito</button>
        </div>
        <div class="content4">
          <p class="camion"><i class="fa-solid fa-truck"></i> Envío gratis a todo el país</p>
          <p class="flecha"><i class="fa-solid fa-arrow-left"></i> Devolución gratis. Tenés 30 días desde que lo recibís.</p>  
          <p class="escudo"><i class="fa-solid fa-user-shield"></i> Compra Protegida. recibí el producto que esperabas o te devolvemos tú dinero.</p>
          <p class="trofeo"><i class="fa-solid fa-trophy"></i> Mercado Puntos. Sumás 199 puntos.</p> 
        </div>

        <div class="content5">
          <ul>
            <h3>Características de Philips V 241V8L/77 24 "</h3>
            <li>Tamaño de la pantalla: 24 "</li>
            <li>Con pantalla táctil: No</li>
            <li>Es reclinable: No</li>
            <li>Tipo de resolución: Full HD</li>
            <li>Es curvo: No</li>
            <li>Con altavoces incorporados: No</li>
          </ul>
          <h2>Descripción</h2>
          <h4>IMÁGENES ASOMBROSAS CON UN AMPLIO ÁNGULO DE VISIÓN</h4>
            <p>La pantalla LED VA proporciona índices de contraste estático superelevados para disfrutar de imágenes muy nítidas y brillantes, con ángulo de visión de 178/178°.</p>
          <h4>SMARTCONTRAST: INCREÍBLES DETALLES EN NEGRO</h4>
           <p> Analiza los contenidos que aparecen en pantalla, ajusta automáticamente los colores y controla la intensidad para optimizar dinámicamente el contraste.</p>
          <h4>SMARTIMAGE: OPTIMIZA LA IMAGEN FÁCILMENTE</h4>
           <p> Analiza el contenido que aparece en tu pantalla y optimiza el rendimiento, con varios modos seleccionables: oficina, foto, película, juegos, bajo consumo, etc.</p>
          <h4>TECNOLOGÍA ADAPTIVE-SYNC</h4>
           <p> Consigue rendimiento fluido y sin complicaciones en todas las velocidades de refresco gracias a la tecnología Adaptive-Sync y el tiempo de respuesta rápido.</p>
          <h4> MENOS CANSANCIO OCULAR CON LA TECNOLOGÍA FLICKER-FREE</h4>
           <p>La tecnología sin parpadeo de Philips ofrece una nueva solución para regular el brillo y reducir el parpadeo para una visualización más cómoda.</p>
          <h4>MODO LOWBLUE PARA PRODUCTIVIDAD SIN CANSANCIO</h4>
           <p> Desarrollado para mejorar el bienestar, el ajuste del modo LowBlue utiliza una tecnología de software inteligente para reducir la dañina luz azul de onda corta.</p>
        </div>
        <div class="content6">
          <h4>Medios de pago</h4>
          <img src="https://www.sumaelectrohogar.com.ar/img/cms/medios-de-pago-suma(2).png" alt="img">
        </div>
    </main>
</body>
</html>