<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main>
        <div class="content1">
          <h1>Silla Gamer Corsair T3 Rush Fabric Carbon</h1>
        </div>
        <div class="content2">
            <img src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_36811_Silla_Gamer_Corsair_T3_Rush_Fabric_Carbon_88bef6b4-grn.jpg" alt="imagen1">
           
        
          </div>

        <div class="content3">
         <p><h2>$59.999</h2><h3>en 12x $7.626</h3></p>
        >
           
           <button class="boton3" type="submit">Comprar Ahora</button>
           <button class="boton4" type="submit">Agregar al carrito</button>
        </div>
        
        <div class="content4">
          <p class="camion"><i class="fa-solid fa-truck"></i> Envío gratis a todo el país</p>
          <p class="flecha"><i class="fa-solid fa-arrow-left"></i> Devolución gratis. Tenés 30 días desde que lo recibís.</p>  
          <p class="escudo"><i class="fa-solid fa-user-shield"></i> Compra Protegida. recibí el producto que esperabas o te devolvemos tú dinero.</p>
          <p class="trofeo"><i class="fa-solid fa-trophy"></i> Mercado Puntos. Sumás 199 puntos.</p> 
        </div>
        
        <div class="content5">
          <h4>Características:</h4>
          <h4>- Respira más fácilmente: el exterior de tela suave y transpirable del T3 Rush retiene el calor mínimo, lo que te permite mantenerte fresco durante largas sesiones de juego.</h4>
          <h4>Siéntese y relájese: gracias a un cojín acolchado para el cuello y al soporte lumbar de espuma viscoelástica, el T3 Rush brinda un apoyo increíble para el cuello y la espalda. Así que estírese, respire profundamente y espere a que reaparezca con comodidad.</h4>
          <h4>- Deslízate por el campo de batalla: no es todo terreno, pero está cerca. El T3 Rush se desliza fácilmente sobre la mayoría de las superficies del piso con ruedas dobles de 65 mm para servicio pesado.</h4>
          <h4>- Encuentre su punto ideal: personalice sin esfuerzo su posición sentada con la altura del asiento ajustable y los reposabrazos junto con un respaldo reclinable.</h4>
        </div>

        
       
    </main>
</body>
</html>