<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/product-detail-styles.css">
</head>
<body>
    <main>
        <div class="content1">
          <h1>Silla Gamer Corsair T3 Rush Fabric Carbon</h1>
        </div>
        <div class="content2">
            <img src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_36811_Silla_Gamer_Corsair_T3_Rush_Fabric_Carbon_88bef6b4-grn.jpg" alt="imagen1">
           
        
          </div>

        <div class="content3">
         <p><h2>$59.999</h2><h3>en 12x $7.626</h3></p>
        >
           
           <button class="boton3" type="submit">Comprar Ahora</button>
           <button class="boton4" type="submit">Agregar al carrito</button>
        </div>
        
        <div class="content4">
          <p class="camion"><i class="fa-solid fa-truck"></i> Envío gratis a todo el país</p>
          <p class="flecha"><i class="fa-solid fa-arrow-left"></i> Devolución gratis. Tenés 30 días desde que lo recibís.</p>  
          <p class="escudo"><i class="fa-solid fa-user-shield"></i> Compra Protegida. recibí el producto que esperabas o te devolvemos tú dinero.</p>
          <p class="trofeo"><i class="fa-solid fa-trophy"></i> Mercado Puntos. Sumás 199 puntos.</p> 
        </div>
        
        <div class="content5">
          <h3>Características generales:</h3>
          <h4> Nombre: Silla Gamer Corsair T3 Rush Fabric Carbon</h4>
          <h4> Precio: $59.999</h4>
          <h4> Cantidad de cuotas: 12x $7.626</h4>
          <h4> Descuento: 20% off</h4>
          <h4> Stock: 20/20</h4>
        </div>

        <div class="content6">
          <h3> Descripcion </h3>
          <h4> La selección de una silla adecuada es muy importante para prevenir futuras lesiones. Con esta silla Corsair, vas a tener la comodidad y el bienestar que necesitás a lo largo de tu jornada. Además, podés ubicarla en cualquier parte de tu casa u oficina ya que su diseño se adapta a múltiples entornos. ¡Dale a tus espacios un toque más moderno!</h4>
          <h5> Jugá sin límites</h5>
           <h4> Diseñada para quienes pasan muchas horas frente a la computadora. El asiento y el respaldo se adaptan a tus diferentes posiciones a lo largo del juego. Disfrutá sin descuidar las zonas lumbar, dorsal y cervical.</h4>
          <h5> Ergonómica y confiable </h5>
           <h4>Es muy común que adoptes una mala postura al sentarte y eso sin duda trae una serie de patologías que repercuten directamente en tu bienestar. Esta silla ergonómica es la indicada para quienes pasan mucho tiempo frente al escritorio, ya sea por trabajo o estudio, ya que su diseño se adapta a las formas del cuerpo y garantiza un reparto de presiones equilibrado. Creá un ambiente de trabajo sano y productivo.</h4>
          <h5> Comodidad en todo momento</h5>
          <h4> Su respaldo reclinable te permite regular los diferentes puntos de inclinación, así como dejarlo en posición libre para el balanceo durante las pausas o descansos.</h4>
            <h5> Cuidá tu cuerpo </h5>
            <h4> Los apoyabrazos favorecerán tu postura al escribir y te van a ayudar a incorporarte con mayor facilidad cuando quieras levantarte.</h4>
             <h5>Mantenete en movimiento</h5>
             <h4>Las ruedas te van a permitir moverte y limpiar fácilmente tu espacio. Vas a poder trasladarla sin dificultad cuando lo necesites.Además, al ser giratoria te va a permitir rotar el asiento 360º sin la necesidad de cambiar de posición o moverte del lugar en donde estás.</h4>
        </div>

        
       
    </main>
</body>
</html>