* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.MContainer {
  padding: 10px;
}

h1 {
  font-size: 2em;
  margin-left: 10px;
}

.sectionContainer__container-buyDesc {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  padding: 10px 0px;
  border-bottom: #000 solid 1px;
}

.product-image {
  width: 30vw;
}

.product-name {
  font-size: 20px;
  align-self: center;
  width: 100%;
}

.product-amount {
  font-size: 18px;
  width: 50%;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

.product-price {
  font-size: 20px;
  width: 50%;
  margin-top: 20px;
  font-weight: bold;
}

.container-product-desc {
  padding: 0px 0px;
  margin: 5px;
  align-self: center;
  width: 55%;
  display: flex;
  flex-wrap: wrap;
}

.container-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-button span {
  font-size: 24px;
}

.container-totalcost {
  display: flex;
  flex-flow: column wrap;
}

.container-totalcost b {
  font-size: 20px;
  margin: 5px;
}

.container-totalcost button {
  font-size: 20px;
  color: #fff;
  width: 90%;
  background-color: #000;
  transition: all 70ms;
  align-self: center;
  margin-top: 20px;
  border-radius: 5%;
}

.container-totalcost button:active {
  background-color: #fa6023;
  font-weight: bold;
}

/* Estilos para tablets con un ancho mínimo de 669px y un máximo de 1024px */

@media (min-width: 500px) and (max-width: 1023px) {
  .product-image {
    width: 175px;
    height: 150px;
  }

  .product-name {
    font-size: 24px;
  }
}

@media (min-width: 1024px) and (max-width: 2560px) {
  .sectionContainer {
    width: 60%;
    margin: 30px auto 0px;
  }

  .product-image {
    width: 200px;
    height: 150px;
  }

  .sectionContainer__container-buyDesc {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    padding: 10px 0px;
    border-bottom: #000 solid 1px;
  }

  h1 {
    text-align: center;
    height: 50px;
    font-size: 45px;
    margin-top: 20px;
  }

  h2 {
    text-align: center;
    font-size: 40px;
    margin: 30px;
  }

  .container-totalcost {
    text-align: center;
  }
  .container-totalcost > b {
    font-size: 25px;
  }

  .container-totalcost > button {
    height: 40px;
    width: 30%;
  }
}
