/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}*/
/*:::::Pie de Pagina-¡Aclaracion el sitio esta en mobile last!*/
.pie-pagina {
  width: 100%;
  background-color: black;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 40px;
}
.pie-pagina .grupo-1 .box-3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.pie-pagina .grupo-1 .box-3 h2 {
  color: #efefef;
  font-size: 30px;
}
.pie-pagina .grupo-1 .box-1 {
  color: #fff;
  font-size: 20px;
  grid-gap: 18px;
}
.pie-pagina .grupo-1 .box-1 p {
  display: inline-block;
  color: #efefef;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  color: #fff;
  text-align: center;
  transition: all 300ms ease;
  background-color: #071c42;
  line-height: 40px;
  border-radius: 5px;
  margin: 0 2px;
}
.pie-pagina .grupo-1 .box-2 ul {
  list-style: none;
}
.pie-pagina .grupo-1 .box-2 ul li {
  margin-bottom: 15px;
}
.pie-pagina .grupo-1 .box-2 ul li a {
  text-decoration-line: none;
  font-size: 20px;
  color: #efefef;
  display: flex;
  grid-gap: 6px;
  align-items: center;
}

.pie-pagina .grupo-1 .red-social {
  display: flex;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: mediumvioletred;
  border: orange solid 1px;
  border-radius: 3px;
}
.pie-pagina .grupo-2 {
  background-color: orange;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}

/*Celulares*/
@media screen and (max-width: 480px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 2fr);
    grid-gap: 15px;
    padding: 20px 0 0 0;
  }
  .pie-pagina .grupo-1 .box-1 {
    margin: unset;
  }
  .pie-pagina .grupo-1 .box-1 p {
    display: inline-block;
    color: #efefef;
    font-size: 13px;
  }
  .pie-pagina .grupo-1 .box-2 p {
    display: inline-block;
    color: #efefef;
    font-size: 13px;
  }
  .pie-pagina .grupo-1 .box-3 h2 {
    display: none;
  }
  .pie-pagina .grupo-1 .box-3 .red-social {
    display: flex;
    margin: 0 auto;
  }
  .pie-pagina .grupo-1 .box-3 .red-social a {
    background-color: unset;
  }
}
/*tables*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
  .pie-pagina .grupo-1 .box-3 h2 {
    display: none;
  }
  .pie-pagina .grupo-1 .box-3 .red-social {
    display: flex;
  }
  .pie-pagina .grupo-1 .box-3 {
    position: relative;
    left: 50%;
  }
  .pie-pagina .grupo-1 .box-3 .red-social {
    display: flex;
    margin: 0 auto;
    grid-gap: 5px;
  }
  .pie-pagina .grupo-1 .box-3 .red-social a {
    background-color: #071c42;
    line-height: 40px;
    border-radius: 5px;
  }
  .pie-pagina .grupo-1 .box-2 ul li a {
    display: flex;
    grid-gap: 6px;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box-1 {
    margin-left: 10px;
  }
}
