/* content1 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* content2 */

.content-img img {
  width: 100%;
  margin: 2px auto;
  max-width: 470px;
  padding: 10%;
}
.title-product,
.title-product-tablet {
  margin: 2px 5px;
  color: black;
}
.type-product,
.type-product-tablet {
  margin: 2px 10px;
  font-size: 20px;
  color: gray;
}
.price,
.price-tablet {
  text-align: center;
  margin: 30px auto;
  color: orangered;
  font-size: 30px;
  border-bottom: 1px solid;
  width: 87%;
  max-width: 387px;
  padding: 10px;
  border-top: 1px solid;
}
.price p,
.price-tablet p {
  font-size: 17px;
}
.price .cuotas,
.price-tablet .cuotas {
  margin: 2px auto;
  border: 1px solid orange;
  display: flex;
  justify-content: center;
  width: 100px;
  padding: 0px 100px;
}
.title-product-tablet,
.type-product-tablet,
.price-tablet {
  display: none;
}

.content-medios i {
  color: green;
}
.content-medios .medio p {
  font-size: 17px;
  margin-left: 10px;
  color: green;
}
.content-medios .medio {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}
.content-medios {
  margin: 0 10px;
  display: grid;
  grid-gap: 10px;
  margin-bottom: 20px;
}
.buttons {
  margin: 15px auto;
  max-width: 300px;
}
.agregar-carrito {
  color: white;
  background-color: orangered;
  opacity: 0.8;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
.descripcion {
  margin: 10px;
  display: grid;
  grid-gap: 10px;
}
/* content5 */
.especificaciones {
  margin: 10px;
}
table {
  border-collapse: collapse;
  width: 90%;
  max-width: 380px;
  margin: 20px auto;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
hr {
  max-width: 100%;
}
/* Estilos para tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .title-product,
  .type-product,
  .price {
    display: none;
  }
  .title-product-tablet,
  .type-product-tablet,
  .price-tablet {
    display: block;
  }
  .content-img {
    display: flex;
    flex-direction: column;
  }
  .especificaciones table {
    max-width: none;
    margin: 20px 0 0 0;
  }
}
/* Estilos para pantallas de escritorio */
@media screen and (min-width: 769px) {
  main {
    margin: 0 auto;
    max-width: 1100px;
  }
  .content-product-general {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;
  }

  .title-product {
    font-size: 15px;
  }
  .content-des-esp {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .hr2 {
    display: none;
  }
  .content-precio-metodos {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
  .especificaciones table {
    border-collapse: collapse;
    width: 90%;
    max-width: 478px;
    margin: 0 0 30px 0;
  }
  .especificaciones br {
    display: none;
  }
  .especificaciones {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }
  .descripcion {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }
}
