* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.form-box {
  width: 315px;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  border-radius: 10px;
}

.login-register {
  text-align: center;
  width: 60%;
  background: orange;
  border-radius: 30px;
  padding: 8px;
  margin: 10px auto;
}

.input-group {
  margin: 0 auto;
}
.text-danger {
  color: red;
  text-align: left;
  font-size: 15px;
  margin-bottom: 8px;
}
.input-field {
  width: 100%;
  padding: 10px 0px;
  margin: 0 0 20px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 2px solid rgb(32, 29, 29);
  background: transparent;
}

.input-field:hover {
  border-bottom: 2px solid rgba(250, 112, 0, 0.98);
  transition: 0.8s;
}

.submit-btn {
  width: 60%;
  padding: 8px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  background: black;
  border: 0px;
  outline: none;
  color: white;
  border-radius: 30px;
}

.check-box {
  margin: 30px 0;
}

span {
  color: #757475;
  font-size: 13px;
}

.registrarse {
  margin: 20px auto;
  font-size: 15px;
}
.custom-file-upload {
  display: inline-block;
  padding: 10px 15px;
  background-color: #efefef;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-bottom: 8px;
}

.custom-file-upload:hover {
  background-color: orange;
}

.file-input {
  display: none;
}
select {
  margin-bottom: 20px;
  width: 100%;
}
p {
  color: gray;
}
/* Moviles */
@media screen and (min-width: 250px) and (max-width: 480px) {
  main {
    width: 100%;
  }

  .form-box {
    width: unset;
    font-size: 13px;
    margin: 6% 20px;
  }
  .input-field {
    font-size: 13px;
  }
  span {
    font-size: 13px;
    bottom: 113px;
  }

  .submit-btn {
    font-size: 13px;
  }
  .registrarse {
    font-size: 12px;
  }
}
