* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #e6dd35, #030303);
}

.parrafo {
    font-size: 12px;
    text-align: left;
    padding-top: 10px;
}

.arroba {
    font-size: 12px;
}

.juntar {
    display: flex;
}

.campos-obligatorios {
    font-size: 12px;
}


.contenedor {
    max-width: 1500px;
    height: 700px 90px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.contenedor .titulo {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    position: relative;
}


.contenedor form .detalles-usuario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
} 

form .detalles-usuario .caja {
    margin-bottom: 30px;
    width: calc(100% / 2 - 15px); 
}   

.detalles-usuario .caja .detalles {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.detalles-usuario .caja input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.caja input:focus {
    border: 1px rgb(37, 154, 237) solid;
    font-weight: bold;
}


form .boton {
    height: 45px;
    margin: 45px 0;

}

form .boton input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;   
    background: rgb(43, 162, 237);
}

form .boton input:hover {
    background: rgb(71, 167, 226);
}

form .boton:visited {
    color: #030303;
}


form .a:hover {
    color: black;
    text-decoration: underline;
}

.p-login {
    justify-content: end;
}


@media (max-width: 584px) {
    .conteiner {
        max-width: 100%;
 }
 form .detalles-usuario .caja {
    margin-bottom: 15px;
    width: 100%; 
}
.contenedor form .detalles-usuario {
    max-height: 580px;
    overflow-y:scroll ;
}   
}