* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Proxima Nova", -apple-system, Roboto, Arial, sans-serif;
}
.main {
  background-color: #f5f5f5;
}

/* Estilos del slider de banners*/
.splide {
  width: 100%;
  background-color: orange;
}
.splide .splide__slide img {
  width: 100%;
  object-fit: contain;
}
.my-slider-progress {
  background: #ccc;
}
.splide__arrow {
  background: transparent;
}
.my-slider-progress-bar {
  background: orange;
  height: 5px;
  transition: width 400ms ease;
  width: 0;
}
.splide__arrow svg {
  fill: white;
}
/* Fin Estilos del slider de banners */
.multiple-slider {
  width: 100%;
}
.multiple-slider .splide__slide img {
  width: 100%;
  height: 100px;

  object-fit: cover;
  cursor: pointer;
}
/* Estilos de últimas novedades y ofertas */
.latest-title {
  font-size: 25px;
  text-align: left;
  position: relative;
  margin: 40px 0 10px 10px;
  color: black;
  font-weight: bold;
}
.Ultimas-Novedades {
  margin-bottom: 50px;
}
.latest-title-2 {
  font-size: 25px;
  text-align: left;
  position: relative;
  margin: 40px 0 10px 10px;
  color: black;
  font-weight: bold;
}
.Ofertas {
  margin-bottom: 50px;
}
.product-card a {
  text-decoration-line: none;
}
.see-more {
  margin: 8px 0 0 18px;
}
.see-more a {
  text-decoration-color: black;
}
.see-more span {
  font-size: 17px;
  color: black;
  font-weight: 600;
}
/* Fin Estilos de últimas novedades y ofertas */

/* Estilos básicos del carrusel */
.carousel-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 4px;
  max-width: 600px;
  margin: 0px auto;
  scroll-snap-type: x mandatory;
  justify-content: flex-start;
}

/* Estilos para la tarjeta de productos */
.product-card {
  flex: 0 0 auto;
  width: 100%; /* Las tarjetas ocuparán todo el ancho disponible */
  max-width: 250px; /* Establecemos un máximo para que no se hagan demasiado grandes */
  margin: 10px;
  text-align: center;
  scroll-snap-align: center;
  background-color: white;
  transition: transform 0.3s; /* Agregamos una transición para el efecto hover */
}

.product-card:hover {
  transform: scale(1.05); /* Al hacer hover, la tarjeta se agrandará un 5% */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Le agregamos una sombra al hacer hover */
}
.container-descripcion-product {
  background-color: white;
  position: relative;
}
.container-product-image {
  padding: 4px;
  height: 150px;
  background-color: #efefef;
  position: relative;
}
.product-image {
  max-width: 100%;
  height: 100%;
}
.ofert-product {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 12px;
  background-color: white;
  color: #2d8d04;
  font-weight: bold;
  border: 1px solid #efefef;
}
.product-name {
  margin-top: 15px;
  color: black;
}

.product-price {
  color: black;
  font-size: 15px;
  background-color: #fad66e;
  position: absolute;
  top: -32px;
}
/* estilos logos de marcas slider infinito */

.logos {
  overflow: hidden;
  background-color: white;
  white-space: nowrap;
  margin-bottom: 20px;
}
.logos::before,
.logos::after {
  position: absolute;
  height: 10vh;
  content: "";
  z-index: 2;
}

.logos-slide {
  position: relative;
  bottom: 0;
  display: inline-block;
  animation: 25s slide infinite linear;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logos-slide img {
  margin: 0 10px;
  height: 4vh;
}
/* estilos logos de marcas slider infinito */

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  text-align: center;
}

.banner-text {
  margin-left: 6px;
  font-weight: bold;
  margin: 20px 0;
}

.join-button {
  color: black;
  padding: 10px 13px;
  margin: 0 7px;
  font-size: 20px;
  border: none;
  background-color: #fad66e;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s; /* Agregamos una transición para el efecto de iluminación */
}

.join-button:hover {
  background-color: #ff6702; /* Al hacer hover, el botón se iluminará con un tono más claro de naranja */
}

/* Estilos para tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .encabezado {
    height: 120px;
  }
  .logo img {
    max-width: 175px;
  }
  .carousel-container {
    max-width: 100%;
    justify-content: flex-start;
  }
  .latest-title-2 {
    font-size: 35px;
  }
  .latest-title {
    font-size: 35px;
  }
  .product-card {
    width: 45%;
    margin: 0 10px;
  }
  .logos-slide img {
    height: 6vh;
  }
  .banner-text {
    font-size: 22px;
    max-width: 496px;
  }
  .join-button i {
    font-size: 36px;
  }

  .join-button {
    margin-left: 20px;
    padding: 10px 10px;
  }
}

/* Estilos para pantallas de escritorio */
@media screen and (min-width: 769px) {
  .latest-title,
  .latest-title-2 {
    font-size: 36px;
    margin: 40px 0 10px 6%;
  }
  .carousel-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    overflow-x: unset;
    scroll-snap-type: inherit;
    max-width: 90%;
  }

  .product-card {
    width: 100%;
  }

  .latest-title::after {
    content: "";
    position: absolute;
    bottom: -2px; /* Posicionamos la línea debajo del título */
    left: 0;
    width: 305px;
    height: 3px;
    background-color: black; /* Color morado/violeta */
    opacity: 0; /* Inicialmente la línea será transparente */
    transition: opacity 0.3s; /* Agregamos una transición para el efecto de iluminación */
  }

  .latest-title:hover::after {
    opacity: 1; /* Al hacer hover, la línea se iluminará */
  }
  .latest-title::after {
    content: "";
    position: absolute;
    bottom: -2px; /* Posicionamos la línea debajo del título */
    left: 0;
    width: 420px;
    height: 3px;
    background-color: black; /* Color morado/violeta */
    opacity: 0; /* Inicialmente la línea será transparente */
    transition: opacity 0.3s; /* Agregamos una transición para el efecto de iluminación */
  }

  .latest-title:hover::after {
    opacity: 1; /* Al hacer hover, la línea se iluminará */
  }
  .latest-title-2::after {
    content: "";
    position: absolute;
    bottom: -2px; /* Posicionamos la línea debajo del título */
    left: 0;
    width: 160px;
    height: 3px;
    background-color: black; /* Color morado/violeta */
    opacity: 0; /* Inicialmente la línea será transparente */
    transition: opacity 0.3s; /* Agregamos una transición para el efecto de iluminación */
  }

  .latest-title-2:hover::after {
    opacity: 1; /* Al hacer hover, la línea se iluminará */
  }
  .see-more {
    text-align: right;
    margin: 8px 5% 0 0;
  }
  .logos-slide img {
    height: 7.4vh;
  }
  .banner-text h4 {
    font-size: 26px;
  }
  .join-button {
    font-size: 35px;
    margin-left: 44px;
    padding: 10px 10px;
  }
}
