<footer class="pie-pagina">
  <div class="grupo-1">
    <div class="box-1">
      <div class="direccion">
        <i class="fa-solid fa-location-dot"></i>
        <p>San Martin 1992</p>
      </div>
      <div class="e-mail">
        <i class="fa-solid fa-envelope-open"></i>
        <p>suppor@tecnojuy.com</p>
      </div>
      <div class="whatsapp">
        <i class="fa-brands fa-whatsapp"></i>
        <p>3885959593</p>
      </div>
      <div class="nosotros">
        <i class="fa-solid fa-users"></i>
        <p>Nosotros</p>
      </div>
    </div>
    <div class="box-2">
      <ul>
        <li>
          <a href="#"
            ><i class="fa-solid fa-play"></i>
            <p>Condiciones de uso</p></a
          >
        </li>
        <li>
          <a href="#"
            ><i class="fa-solid fa-play"></i>
            <p>Servicio al cliente</p></a
          >
        </li>
        <li>
          <a href="#"
            ><i class="fa-solid fa-play"></i>
            <p>Botón de arrepentimiento</p></a
          >
        </li>
        <li>
          <a href="#"
            ><i class="fa-solid fa-play"></i>
            <p>Políticas de garantía</p></a
          >
        </li>
      </ul>
    </div>

    <div class="box-3">
      <h2>SIGUENOS</h2>
      <div class="red-social">
        <a href="#" class="fa-brands fa-facebook-f"></a>
        <a href="#" class="fa-brands fa-instagram"></a>
        <a href="#" class="fa-brands fa-twitter"></a>
        <a href="#" class="fa-brands fa-youtube"></a>
      </div>
    </div>
  </div>
  <div class="grupo-2">
    <small>&copy; 2023 <b>TECNO-JUY</b> - Todos los Derechos Reservados.</small>
  </div>
</footer>
