<header>
  <div class="top-header">
    <a href="#">Contacto</a>
    <% if (locals.isLogged) { %>
      <% }else{%>
        <a href="/users/register">Registrate</a>
        <% } %>

          <a href="#">Ayuda</a>
  </div>
  <div class="encabezado">

    <div class="logo">
      <a href="/"> <img src="\images\logo.png" alt="Logo de TECNO-JUY" /></a>
    </div>
    <div class="container-search-bar">
      <div class="search_wrap search_wrap_1">
        <div class="search_box">
          <form action="/products/search/" method="GET">
            <input type="text" class="input" name="search" placeholder="Buscar..." />
            <div class="btn btn_common">
              <button type="submit" class="fas fa-search">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="icons">


      <% if (locals.isLogged) { %>
        <div class="login-box">
          <a href="/users/login">
            <i class="fa-solid fa-user">
            </i>

            <p>
              <%= locals.userLogged.nombreUsuario %>
            </p>
          </a>
        </div>
        <a href="/favoritos"><i class="fa-solid fa-heart"></i></a>
        <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
        <% }else{%>
          <div class="login-box">

            <a href="/users/login">
              <i class="fa-solid fa-user"></i>

              <p>Iniciar Sesion</p>

            </a>
          </div>

          <% } %>



    </div>

  </div>
  <nav>
    <label for="toggler">
      <i class="fa fa-bars"></i>
    </label>
    <input type="checkbox" id="toggler" name="">
    <div class="menu">
      <ul class="list">
        <li><a href="/products">Pc Armadas</a></li>
        <li><a href="/products">Smartphones</a></li>
        <li><a href="/products">Productos</a></li>
        <li><a href="/products">Ofertas</a></li>

      </ul>
    </div>
  </nav>
</header>