<header>
  <div class="encabezado">
    <div class="main-navbar">
      <a href="#"> <i class="fas fa-bars"></i></a>
    </div>
    <div class="logo">
      <a href="/"> <img src="\images\logo.png" alt="Logo de TECNO-JUY" /></a>
    </div>
    <div class="container-search-bar">
      <div class="search_wrap search_wrap_1">
        <div class="search_box">
          <form action="/products/search/" method="GET">
            <input
              type="text"
              class="input"
              name="search"
              placeholder="Buscar..."
            />
            <div class="btn btn_common">
              <button type="submit" class="fas fa-search">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="icons">
      <!---Aqui tener en cuenta el tipo de boton que va a hacer la lupa y poner un place holder --->

      <button class="lupa" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <a href="/login-register"><i class="fa-solid fa-user"></i></a>
      <a href="" class="corazon"><i class="fa-solid fa-heart"></i></a>
      <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
  </div>
  <div class="main-navbar2">
    <nav>
      <ul>
        <li><a href="#">Pc Armadas</a></li>
        <li><a href="#">Smartphones</a></li>
        <li><a href="#">Productos</a></li>
      </ul>
    </nav>
  </div>
</header>
