<section class="slider__infinit__logos">
  <div class="logos">
    <div class="logos-slide">
      <img src="\images\images_slider\1.png" alt="" />
      <img src="\images\images_slider\2.png" alt="" />
      <img src="\images\images_slider\3.png" alt="" />
      <img src="\images\images_slider\4.png" alt="" />
      <img src="\images\images_slider\5.png" alt="" />
      <img src="\images\images_slider\6.png" alt="" />
      <img src="\images\images_slider\7.png" alt="" />
      <img src="\images\images_slider\8.png" alt="" />
    </div>
    <div class="logos-slide">
      <img src="\images\images_slider\1.png" alt="" />
      <img src="\images\images_slider\2.png" alt="" />
      <img src="\images\images_slider\3.png" alt="" />
      <img src="\images\images_slider\4.png" alt="" />
      <img src="\images\images_slider\5.png" alt="" />
      <img src="\images\images_slider\6.png" alt="" />
      <img src="\images\images_slider\7.png" alt="" />
      <img src="\images\images_slider\8.png" alt="" />
    </div>
  </div>
</section>
